<!DOCTYPE html>
<html>
    <head>
        <%= title %></title>
        <link rel='stylesheet' href='stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1> 
        <p> welcome <%= user.displayName %>!</p>

    </body>
</html>